<div class="carousel-inner " role="listbox">
    <div class="carousel-item active">
        <div class="view">

            <img class="d-block w-100 " src="assets/images/images/banner1.jpg" id="image" alt="First slide">

        </div>
        <div class="carousel-caption">

            <h1 class="mb-2">Promotions</h1>
            <br><br>
        </div>

    </div>
</div>
<br>
<div class="deals-container">
    <h2 class="deals-header">Today's deals</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner top-carousel">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="assets/images/images/barstools2.jpg" class="card-img-top" alt="...">
                        <span class="deals-status">
                          <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                            <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <div class="card-body">

                            <p class="card-text">Barstools.</p>

                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del><b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card">

                        <img src="assets/images/images/tab72.jpg" class="card-img-top" alt="...">
                        <span class="deals-status">
                          <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                            <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <div class="card-body">
                            <p class="card-text">Samsung Tablet</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>

                        </div>
                    </div>
                    <div class="card">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/skirt5.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Skirt</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>

                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/tshirt.jpg" class="card-img-top" alt="...">

                        <div class="card-body">

                            <p class="card-text">Tshirt</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>

                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/Winterjacket.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Winter Jacket</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/africandress3.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">African dress</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/cameratransparent.png" class="card-img-top" alt="...">

                        <div class="card-body">

                            <p class="card-text">HD camera</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/caps.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Summer caps</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/desktopcomputer.jpg" class="card-img-top" alt="...">

                        <div class="card-body">

                            <p class="card-text">Dell desktop</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/doll.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Plastic doll</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/formal1.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Men's shoes</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/hadpone1.jpeg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Headphones</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/hood.jpg" class="card-img-top" alt="...">

                        <div class="card-body">

                            <p class="card-text">Men hoodies</p>


                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/portablespeaker.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Portable speaker</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <span class="deals-status">
                        <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                          <span><i class="ion-ios-cart"></i></span>
                        </a>
                        </span>
                        <img src="assets/images/images/slicetoaster.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <p class="card-text">Toaster</p>
                            <h6>$123.56</h6>
                            <h6 class="list-price">List price : <del>$189</del> <b> 20% off</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<br><br>

<div class="container promo-container">
    <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
        <li class="nav-item flex-sm-fill">
            <a id="home2-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home2" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">All Deals</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="available-tab" data-toggle="tab" href="#available-deals" role="tab" aria-controls="contact2" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Available deals</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="available-tab" data-toggle="tab" href="#upcoming-deals" role="tab" aria-controls="contact2" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Upcoming deals</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="available-tab" data-toggle="tab" href="#watchlist" role="tab" aria-controls="contact2" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">Watchlist</a>
        </li>

    </ul><br>
    <div id="myTab2Content" class="tab-content">
        <div id="all" class="tab-pane fade px-4 py-5 show active ">
            <div class="row">
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/kettle.jpg">
                            <span class="status">25%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Electric Kettle</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/teddy.jpg" alt="image">
                            <span class="status">15%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Teddy bear</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/washer1.jpg" alt="image">
                            <span class="status">25%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Washer and dryer</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/chair2.jpg" alt="image">
                            <span class="status">40%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Chair</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/dress3.jpg">
                            <span class="status">20%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Electric Kettle</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/ironimage.png" alt="image">
                            <span class="status">25%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Electric Kettle</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/golftshirt.png" alt="image">
                            <span class="status">20%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Golf Tshirt</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ">
                    <div class="product">
                        <a class="img-prod"><img class="img-fluid" src="assets/images/images/earphone1.jpeg" alt="image">
                            <span class="status">25%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a>Earphones</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">$20.00</span><span class="price-sale">$80.00</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 ">
                <div class="col text-center ">
                    <div class="block-27 ">
                        <ul>
                            <li><a>&lt;</a></li>
                            <li class="active "><span>1</span></li>
                            <li><a>2</a></li>
                            <li><a>3</a></li>
                            <li><a>4</a></li>
                            <li><a>5</a></li>
                            <li><a>&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="available-deals" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
            Available deals
        </div>
        <div id="upcoming-deals" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
        </div>
        <div id="watchlist" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
        </div>
    </div>
</div>
<br>
