<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="view">

            <img class="d-block w-100 " src="assets/images/images/banner1.jpg" id="image" alt="First slide">

        </div>
        <div class="carousel-caption">

            <h1 class="mb-2">About Us</h1>

            <br><br><br>

        </div>

    </div>
</div>


<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <br><br>
        <div class="row">

            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/banner1.jpg);">

                <a href="" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">ProShop</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>We enable businesses to transform the way they market, sell and operate and improve their efficiencies. We provide the technology infrastructure and marketing reach to help merchants, brands, retailers and other businesses to leverage
                        the power of new technology to engage with their users and customers and operate in a more efficient way.</p>
                    <p>ProShop is committed to the highest standards of business conduct in our relationships with each of our stakeholders, including our customers, business partners and shareholders. This commitment requires that we conduct our business
                        in accordance with all applicable laws and regulations and in accordance with the ProShop Code of Business Conduct.</p>
                    <p><a class="btn btn-primary">Shop now</a></p>
                </div>
            </div>
        </div><br>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section  text-center">
                <span class="subheading">Testimony</span>
                <h2 class="mb-4">Our satisfied customer says</h2>
                <p>Here is what some of our customers had to say.</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="carousel-testimony">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class=" item ">
                                <div class="testimony-wrap p-4 pb-5 ">
                                    <div class="text text-center ">
                                        <p class="name ">Tanaka Dube</p>
                                        <span class="position ">Marketing Manager,at All goods</span></div>
                                    <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
            <i class="icon-quote-left "></i>
          </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="mb-5 pl-4 line ">It's always a pleasure to work with the ProShop team. They are personable, responsive, and results-oriented!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 ">
                            <div class="item ">
                                <div class="testimony-wrap p-4 pb-5 ">
                                    <div class="text text-center ">
                                        <p class="name ">Denzel Chiuseni</p>
                                        <span class="position ">Interface Designer at Pacific Grove</span>
                                    </div>
                                    <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
            <i class="icon-quote-left "></i>
          </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="mb-5 pl-4 line ">The Pacific Grove would like to thank ProShop for all the efforts and suggestions that assisted us in better positioning ourselves in the market. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="item ">
                                <div class="testimony-wrap p-4 pb-5 ">
                                    <div class="text text-center ">
                                        <p class="name ">Farai Chuma</p>
                                        <span class="position ">UI Designer at SmartDesigns</span>
                                    </div>
                                    <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
            <i class="icon-quote-left "></i>
          </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="mb-5 pl-4 line ">Always available to answer any questions. Very knowledgeable about the services they provide. Would recommend to anyone!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="item ">
                                <div class="testimony-wrap p-4 pb-5 ">
                                    <div class="text text-center ">
                                        <p class="name ">Garreth Smith</p>
                                        <span class="position ">Web Developer</span>
                                    </div>
                                    <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
            <i class="icon-quote-left "></i>
          </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="mb-5 pl-4 line ">When I started my business, I didn't know where to start with my online branding. I contacted ProShop and they helped me with the selling of my services online.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="ftco-section ">
    <div class="container ">
        <div class="row no-gutters ftco-services ">
            <div class="col-lg-3 col-md-6 col-xs-12 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4 ">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2 ">
                        <span class="flaticon-shipped "></span>
                    </div>
                    <div class="media-body ">
                        <h3 class="heading ">Free Shipping</h3>
                        <span>On order over $100</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4 ">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2 ">
                        <span class="flaticon-diet "></span>
                    </div>
                    <div class="media-body ">
                        <h3 class="heading ">Always Fresh</h3>
                        <span>Product well package</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4 ">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2 ">
                        <span class="flaticon-award "></span>
                    </div>
                    <div class="media-body ">
                        <h3 class="heading ">Superior Quality</h3>
                        <span>Quality Products</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4 ">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2 ">
                        <span class="flaticon-customer-service "></span>
                    </div>
                    <div class="media-body ">
                        <h3 class="heading ">Support</h3>
                        <span>24/7 Support</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>