<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <h2 class="mb-3">How to Fill Out a Marketing Plan</h2>
                <p>Planning helps you maximize your marketing spend by tracking all your tactics, goals, and costs. Without one, even the best marketing ideas end up being like spaghetti thrown at a wall—nothing sticks. The hardest part of planning is knowing
                    where to start, and that’s where we come in. We’ve put together a free marketing plan template to help you think methodically through your marketing strategy and put it down on paper. </p>
                <img src="assets/images/images/blogTemplate.PNG" alt="" class="img-fluid" id="img-fluid">
                <p>Use this template to stay on track—and on budget—as you prepare for another year of creative campaigns and experimental ideas. </p>

                <p><a href="https://docs.google.com/document/d/1ZMGu-4oJgEUG73CiSlU1A4Abwp9hRyuyEErxxQklnoo/copy" class="btn btn-primary py-2 px-3" id="guide-button">A guide to using our marketing plan template</a></p>
                <br>

                <p>
                    On its own, a marketing plan template isn’t going to catapult you into the marketing campaign hall of fame. It’s what you write inside that counts. Here’s how to use the marketing plan template to achieve your goals: </p>
                <ul>
                    <li>Executive summary</li>
                    <li>Budget and projections</li>
                    <li>Market research</li>
                    <li>Marketing strategy</li>
                    <li>Measurement</li>
                </ul>
                <h4>Executive summary</h4>
                <p>Company name. The registered business name of your company. Year founded. The year you started your business. Location. Where is your headquarters? If you’re a store with several locations, list them here. Mission statement. A one-liner
                    that explains why your business exists. </p>
                <p>Starbucks, for example, uses the following mission statement: “To inspire and nurture the human spirit—one person, one cup, and one neighborhood at a time.” Company goals.</p>
                <p> What do you hope to achieve in the coming year? Most often, business goals include financial projections or big picture plans, like opening a physical store or launching a new product line. Marketing goals. How do you plan to achieve those
                    company goals with your marketing strategy? This could be anything from “Increase brand awareness with a social media strategy” to “Improve customer return rate.” Marketing team. List the name, job title, and responsibility of everyone
                    on your marketing team—including stakeholders. This will keep the team accountable and make the marketing plan operational.</p>
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a class="tag-cloud-link">Life</a>
                        <a class="tag-cloud-link">Sport</a>
                        <a class="tag-cloud-link">Tech</a>
                        <a class="tag-cloud-link">Travel</a>
                    </div>
                </div>




                <div class="pt-5 mt-5">
                    <h3 class="mb-5">1 Comment</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="assets/images/prof1.png" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>John Doe</h3>
                                <div class="meta">June 27, 2018 at 2:21pm</div>
                                <p>Very helpful. Thank you so much!
                                </p>
                                <!-- <p><a class="reply">Reply</a></p> -->
                            </div>
                        </li>
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a>Fashion  <span>(12)</span></a></li>
                        <li><a>Affiliate/review <span>(22)</span></a></li>
                        <li><a>News <span>(37)</span></a></li>
                        <li><a>Technology <span>(42)</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ">
                    <h3 class="heading">Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/banner1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a>Why Online Reviews Are Essential (and How to Get Them)</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/images/background.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a>A Guide to the Good Life: How to Start a Lifestyle Business</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/images/bodydress.png);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a>Black-Owned Fashion and Beauty Brands to Shop Now and Forever</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ">
                    <h3 class="heading">Topics</h3>
                    <div class="tagcloud">
                        <a class="tag-cloud-link">marketing</a>
                        <a class="tag-cloud-link">business</a>
                        <a class="tag-cloud-link">template</a>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<!-- .section -->
