<app-carousel></app-carousel>

<!----------------------------------------------------------------------------------------->
<br>
<div class="row" id="prom-row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card" id="secondcontainer-card">
            <a routerLink="/shop">
                <h6 class="card-title-header">New Arrivals</h6>
            </a>
            <div class="row">
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">

                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/cameratransparent.png" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Trending now</h6>
                        </a>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/decoders.jpg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Trending now</h6>
                        </a>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/desktopcomputer.jpg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Trending now</h6>
                        </a>

                    </div>
                </div>
            </div>
        </div><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card" id="secondcontainer-card">
            <a routerLink="/promotion">
                <h6 class="card-title-header">Weekly deals</h6>
            </a>

            <div class="row">
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/earpods.jpg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>


                        <h6 class="card-title">$11.98</h6>


                        <h6 class="card-title">Trending now</h6>


                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/hadpone1.jpeg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Trending now</h6>
                        </a>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/ironimage.png" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title"> $11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Trending now</h6>
                        </a>

                    </div>
                </div>
            </div>
        </div><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card" id="secondcontainer-card">
            <a routerLink="promotion">
                <h6 class="card-title-header">On Promotion</h6>
            </a>
            <div class="row">
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/smartwatch.jpg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title" id="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Now $10.44</h6>
                        </a>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/Winterjacket.jpg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title" id="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Now $9.32</h6>
                        </a>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-center" id="card-text-center">
                        <div class="image">
                            <a routerLink="/single-product">
                                <img class="card-img" src="assets/images/images/polo.jpg" alt="Card image">
                                <div class="edit">
                                    <a routerLink="/shop" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a><br>

                                </div>
                            </a>
                        </div>

                        <a href="#" id="card-link">
                            <h6 class="card-title" id="card-title">$11.98</h6>
                        </a>
                        <a href="#" id="card-link">
                            <h6 class="card-title">Now $8.67</h6>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>
<!-------------------------------------------------------------------------_------------>


<div class="marquee">

    <div class="row no-gutters ftco-services">
         
        <div class="col-xs-4  text-center d-flex align-self-stretch marquee">
            <div class="media block-6 services mb-md-0 mb-4">
                <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                    <span class="flaticon-shipped"></span>
                </div>
                <div class="media-body">
                    <h3 class="heading">Free Shipping</h3>
                    <span>On order over $100</span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 text-center d-flex align-self-stretch ">
            <div class="media block-6 services mb-md-0 mb-4 ">
                <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2 ">
                    <span class="flaticon-award "></span>
                </div>
                <div class="media-body ">
                    <h3 class="heading ">Superior Quality</h3>
                    <span>Quality Products</span>
                </div>
            </div>
        </div>
      
      
      </div>
 
</div>
<section class="ftco-section ">
    <div class="container">
        <div class="row no-gutters ftco-services slide-services">
         
            <div class="col-xs-3 col-md-3 text-center d-flex align-self-stretch">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <span>On order over $100</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-md-3 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4 ">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2 ">
                        <span class="flaticon-award "></span>
                    </div>
                    <div class="media-body ">
                        <h3 class="heading ">Superior Quality</h3>
                        <span>Quality Products</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class=" media-body ">
                        <h3 class="heading ">Fast Delivery</h3>
                        <span>Product well packaged</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ">
                <div class="media block-6 services mb-md-0 mb-4 ">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2 ">
                        <span class="flaticon-customer-service "></span>
                    </div>
                    <div class="media-body ">
                        <h3 class="heading ">Support</h3>
                        <span>24/7 Support</span>
                    </div>
                </div>
            </div>
             
        </div>
  
    </div>
</section>

<div class="img-box ">
    <div class="background " style=" "><br>
    </div>
    <div class="img-box-overlay "></div>

    <section class="ftco-section ftco-category ftco-no-pt ">
        <br>
        <div class="container ">
            <div class="row ">
                <div class="col-md-8 ">
                    <div class="row ">
                        <div class="col-md-6 order-md-last align-items-stretch d-flex ">
                            <div class="category-wrap-2 img align-self-stretch d-flex " style="background-image: url(assets/images/images/new-banner6.png); ">
                                <div class="text text-center ">
                                    <h2>ProShop Marketplace</h2>
                                    <p>Your comprehensive shopping site</p>
                                    <p><a routerLink="/shop " class="btn btn-primary ">Shop now</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="category-wrap img mb-4 d-flex align-items-end " style="background-image: url(assets/images/blue-suit.jpg); ">
                                <div class="text px-3 py-1 ">
                                    <h2 class="mb-0 "><a>Clothing</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap img d-flex align-items-end " style="background-image: url(assets/images/images/pngegg.png); ">
                                <div class="text px-3 py-1 ">
                                    <h2 class="mb-0 "><a>Kitchen Equipment</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="category-wrap img mb-4 d-flex align-items-end " style="background-image: url(assets/images/ict.webp); ; ">
                        <div class="text px-3 py-1 ">
                            <h2 class="mb-0 "><a>Electronic Gadgets</a></h2>
                        </div>
                    </div>
                    <div class="category-wrap img d-flex align-items-end " style="background-image: url(assets/images/sports.jpg); ">
                        <div class="text px-3 py-1 ">
                            <h2 class="mb-0 "><a>Sporting Equipment</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ">
        <div class="products-container ">
            <div class="container ">
                <div class="row justify-content-center mb-3 pb-3 ">
                    <div class="col-md-12 heading-section text-center ">
                        <span class="subheading fp-1 ">Our Products</span>
                        <h2 class="mb-4 op-1 ">Featured Products</h2>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="row ">
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/suit1.jpg " alt="ProShop">
                                <span class="status ">30%</span>
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Suits</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span class="mr-2 price-dc ">$120.00</span><span class="price-sale ">$80.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/oppofindX2.jpg " alt="ProShop">
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Oppo find X</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span>$120.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/oppoA31.jpg " alt="ProShop">
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>I Phone</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span>$120.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod"><img class="img-fluid " src="assets/images/oppoF17.jpg " alt="ProShop ">
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Samsung</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span>$120.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/homeitems.jpg " alt="ProShop">
                                <span class="status ">30%</span>
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Sofa</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span class="mr-2 price-dc ">$120.00</span><span class="price-sale ">$80.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/freezer.jpg " alt="ProShop ">
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Chest Freezer</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span>$120.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/shoes.jpg " alt="ProShop ">
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Snickers</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span>$120.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="product ">
                            <a class="img-prod "><img class="img-fluid " src="assets/images/formal4.jpg " alt="ProShop ">
                                <div class="overlay "></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center ">
                                <h3><a>Shoes</a></h3>
                                <div class="d-flex ">
                                    <div class="pricing ">
                                        <p class="price "><span>$120.00</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3 ">
                                    <div class="m-auto d-flex ">
                                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center ">
                                            <span><i class="ion-ios-menu "></i></span>
                                        </a>
                                        <a class="buy-now d-flex justify-content-center align-items-center mx-1 ">
                                            <span><i class="ion-ios-cart "></i></span>
                                        </a>
                                        <a class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart "></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="ftco-section img " style="background-image: url(assets/images/wristWatch2.jpg); background-color: rgb(0, 0, 0, .9); height:400px; ">
    <div class="container ">
        <div class="row justify-content-end ">
            <div class="col-md-6 heading-section deal-of-the-day ">
                <span class="subheading "><h2 class="subheading ">Best Price For You</h2></span>
                <h1 class="mb-4 ">Deal of the day</h1>
                <h3 class="a-deal "><a class="a-deal ">Wrist watches</a></h3>
                <span class="price ">$10 <a >now $5 only</a></span>
                <div id="timer " class="d-flex mt-5 ">


                    <div class="time" id="days"></div>
                    <div class="time pl-3 " id="hours"></div>
                    <div class="time pl-3 " id="minutes"></div>
                    <div class="time pl-3 " id="seconds"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class=" heading-section text-center ">
    <span class="subheading ">Testimony</span>
    <h2 class="mb-4 ">Our satisfied customer says</h2>
    <p>Here is what some of our customers had to say.</p>
</div>
<div class="deals-container ">

    <div id="carouselExampleControls " class="carousel slide " data-ride="carousel ">
        <div class="carousel-inner top-carousel ">

            <div class="cards-wrapper ">
                <div class="card testimony-card col-lg- ">

                    <div class=" item ">
                        <div class="testimony-wrap p-4 pb-5 ">
                            <div class="text text-center ">
                                <p class="name ">Tanaka Dube</p>
                                <span class="position ">Marketing Manager,at All goods</span></div>
                            <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                <span class="quote d-flex align-items-center justify-content-center ">
                                    <i class="icon-quote-left "></i>
                                  </span>
                            </div>
                            <div class="text text-center ">
                                <p class="mb-5 pl-4 line ">It's always a pleasure to work with the ProShop team.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card testimony-card ">

                    <div class="item ">
                        <div class="testimony-wrap p-4 pb-5 ">
                            <div class="text text-center ">
                                <p class="name ">Denzel Moyo</p>
                                <span class="position ">Interface at Pacific Grove</span>
                            </div>
                            <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                <span class="quote d-flex align-items-center justify-content-center ">
  <i class="icon-quote-left "></i>
</span>
                            </div>
                            <div class="text text-center ">
                                <p class="mb-5 pl-4 line ">The Pacific Grove would like to thank ProShop for all the efforts and suggestions that assisted us. </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card d-none d-md-block testimony-card ">
                    <div class="item ">
                        <div class="testimony-wrap p-4 pb-5 ">
                            <div class="text text-center ">
                                <p class="name ">Farai Chuma</p>
                                <span class="position ">UI Designer at SmartDesigns</span>
                            </div>
                            <div class="user-img mb-5 " style="background-image: url(assets/images/prof1.png) ">
                                <span class="quote d-flex align-items-center justify-content-center ">
  <i class="icon-quote-left "></i>
</span>
                            </div>
                            <div class="text text-center ">
                                <p class="mb-5 pl-4 line ">Always available to answer any questions.Would recommend to anyone!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
        </div>
        </div> -->
        <hr>
