<br>
<div class="row">
    <div class="col-lg-3">
        <br>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>

            <a class="link" href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center link" routerLink="/">
                        <img src="assets/images/prof1.png" alt="ProShop" style="width: 40%;">
                    </a>
                </div>
                <div class="user-name">
                    <h6 class="text-center">John Mayor</h6>
                    <p>privieroyalty@gmail.com</p>
                </div>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span><u>Account Settings</u></span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">


                    <li class="nav-item">
                        <a href="#tables" aria-expanded="false" class="nav-link">
                            <i class="fe fe-grid fe-16"></i>
                            <span class="ml-3 item-text">Change profile picture</span>
                        </a>

                    </li>

                    <ng-container *ngIf=true>
                        <li class="nav-item">
                            <a href="#charts" aria-expanded="false" class="nav-link">
                                <i class="fe fe-pie-chart fe-16"></i>
                                <span class="ml-3 item-text">Change password</span>
                            </a>

                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a href="#maintenance" aria-expanded="false" class="nav-link">
                            <i class="fe fe-pie-chart fe-16"></i>
                            <span class="ml-3 item-text">Logout</span>
                        </a>

                    </li>
                </ul>




            </nav>
        </aside>
    </div>
    <div class="col-lg-9">
        <div class="container" id="userProfile">
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="card flex-row">
                        <div class="icon bg-color-5 d-flex justify-content-center align-items-center mb-2 ">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="card-body">

                            <a class="link-text">Your orders</a>
                            <p class="card-text">Track,return or buy things again</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="card flex-row">
                        <div class="icon bg-color-5 d-flex justify-content-center align-items-center mb-2 ">
                            <span class="flaticon-piggy-bank"></span>
                        </div>
                        <div class="card-body">
                            <a class="link-text">Your payments</a>

                            <p class="card-text">Manage payment methods and settings</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="card flex-row">
                        <div class="icon bg-color-5 d-flex justify-content-center align-items-center mb-2 ">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="card-body">
                            <a class="link-text">Customer Support</a>

                            <br>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="card card-body">
                        <h6 class="card-title h6 h6-sm">Ordering and shopping preferences</h6>
                        <hr>
                        <a>Your Transactions</a>
                        <a>Your Addresses</a>
                        <a>Your Payments</a>
                        <a>Your ProShop profile</a>
                        <a>Coupons</a>
                        <a>Language Preferences</a>
                        <a>Order Reports</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="card card-body">
                        <h6 class="card-title h6 h6-sm">Shopping programs and rentals</h6>
                        <hr>
                        <a>Your Transactions</a>
                        <a>Your Addresses</a>
                        <a>Your Payments</a>
                        <a>Your ProShop profile</a>
                        <a>Coupons</a>
                        <a>Language Preferences</a>
                        <a>Order Reports</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="card card-body">
                        <h6 class="card-title h6 h6-sm">Other Programs</h6>
                        <hr>
                        <a>Your Transactions</a>
                        <a>Your Addresses</a>
                        <a>Your Payments</a>
                        <a>Your ProShop profile</a>
                        <a>Coupons</a>
                        <a>Language Preferences</a>
                        <a>Deals notifications</a>
                        <a>Order Reports</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
