<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="view">

            <img class="d-block w-100 " src="assets/images/images/banner1.jpg" id="image" alt="First slide">

        </div>
        <div class="carousel-caption">

            <h1 class="mb-2">Blog</h1>

            <br><br>

        </div>

    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="row">
                    <div class="col-md-12 d-flex ">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a routerLink="/single-blog" class="block-20" style="background-image: url('assets/images/blog1.jpg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a>July 20, 2019</a></div>
                                    <div><a>Admin</a></div>
                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a>How to Fill Out a Marketing Plan [+ Free Template]</a></h3>
                                <p>Behind every scalable online business is a solid marketing plan.</p>
                                <p><a routerLink="/single-blog" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a routerLink="/single-blog" class="block-20" style="background-image: url('assets/images/blog2.jpg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a>July 20, 2019</a></div>
                                    <div><a>Admin</a></div>
                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a>Why Online Reviews Are Essential (and How to Get Them)</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p><a routerLink="/single-blog" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a routerLink="/single-blog" class="block-20" style="background-image: url('assets/images/blog3.jpg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a>July 20, 2019</a></div>
                                    <div><a>Admin</a></div>
                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a>A Guide to the Good Life: How to Start a Lifestyle Business</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p><a routerLink="/single-blog" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a routerLink="/single-blog" class="block-20" style="background-image: url('assets/images/blog4.jpg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a>July 20, 2019</a></div>
                                    <div><a>Admin</a></div>
                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a>How to Start a Podcast</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p><a routerLink="/single-blog" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a routerLink="/single-blog" class="block-20" style="background-image: url('assets/images/blog5.jpg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a>July 20, 2019</a></div>
                                    <div><a>Admin</a></div>
                                    <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a>How to Make Money on YouTube in 2022</a></h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p><a routerLink="/single-blog" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a>News <span>(12)</span></a></li>
                        <li><a>Business <span>(22)</span></a></li>
                        <li><a>Entertainment<span>(37)</span></a></li>
                        <li><a>Travel <span>(42)</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ">
                    <h3 class="heading">Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a>An introduction to affliate Networks in 2022</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a>Marketing funnels explained: Why they matter and how to build yours</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(assets/images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a>How this founder scaled a fitness business to over $20 million in 2 years.</a></h3>
                            <div class="meta">
                                <div><a><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a><span class="icon-person"></span> Admin</a></div>
                                <div><a><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                        <a class="tag-cloud-link">Business</a>
                        <a class="tag-cloud-link">Fashion</a>
                        <a class="tag-cloud-link">youtube</a>
                        <a class="tag-cloud-link">money</a>
                        <a class="tag-cloud-link">online</a>
                        <a class="tag-cloud-link">podcast</a>
                        <a class="tag-cloud-link">marketing</a>
                        <a class="tag-cloud-link">lifestyle</a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<!-- .section -->